:root {
overflow: hidden;
background-color: lightblue;
display: flex;
justify-content: center;
}
.div1 {
background-color: yellow;
border-radius: 50%;
height: 25vh;
aspect-ratio: 1 / 1;
animation: 4s linear 0s infinite alternate rise,
4s linear 0s infinite alternate bounce;
}
@keyframes rise {
from {
transform: translateY(100vh);
}
to {
transform: translateY(0);
}
}
@keyframes bounce {
from {
transform: translateX(-50vw);
border-radius: 50%;
background-color: red;
height: 25vh;
}
to {
transform: translateX(50vw);
border-radius: 0%;
background-color: green;
height: 15vh;
}
}
